body{
    background-color: #F3F4FF;
    padding: 0px;
    margin: 0px;
}
.MenuBar{
    display: flex; /*flex makes them next to each other not one below the other*/
    justify-content: space-around;
    align-items: center; /*makes then lined centered*/
}
.nav-links{
    font-family: courier-std, monospace;
    font-weight: 400;
    font-style: normal;
    margin-left: 600px; /*space between logo and ul*/
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links a{
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}
.nav-links li{
    list-style: none;
}
.MegaMenuBar{
    /**
    * Thanks to Dev Ed for the trick
    * Source : YouTube video called Responsive Navigation Bar Tutorial | HTML CSS JAVASCRIPT
    */
    display: none; /* It's hidden till you make page small */
}
.MegaMenuBar div {
    width: 25px;
    height: 2px;
    background-color:#000000;
    margin: 5px;
}
.TypeContainer{
    position: absolute;
    display: flex; /*it is gonna make it horozintal so we used flex-direction */
    flex-direction: column;
    justify-content: center; /*in order to make it works we used height property*/
    padding: 0 40px; /* 0 = bottom and top , 3 = right and left*/
    margin-top: 400px;
    white-space: nowrap;
}
#TxtBeforeTyper , #TxtAfterTyper{
    font-family: 'PT Mono', monospace;
    margin: 6px;
}
#TxtBeforeTyper{
    font-size:50px;
}
#TxtAfterTyper{
    font-size: 18px;
    font-weight: lighter;
}
.TopView{
    position: absolute;
    float: left;
    left: 0;
    margin-top: 15px;
} /* Source for the solution is : https://stackoverflow.com/questions/13933051/stick-image-to-right-side-of-the-page */
/* Cursor , '>' means inside of it which .txt was a class in js script*/
.txt-type > .txt {
    border-right: 0.2rem solid #777 ;
}

@media screen and (max-width:1300px) {
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        background-color: #F3F4FF; /* TODO: I can see the color because the image is on top !! */
        top: 11vh;  /*distance between logo and nav links*/
    }
}
@media screen and (min-width:1200px){
    #TxtBeforeTyper{
        font-size: 50px;
    }
    .nav-links a{
        font-size: 14px;
    }
}
@media screen and (max-width:800px){
    .TypeContainer{
        padding: 0.1rem;
    }
    #TxtBeforeTyper{
        font-size: 30px;
    }
}
@media screen and (max-width:500px){
    #TxtBeforeTyper{
        font-size: 20px;
    }
    #TxtAfterTyper{
        font-size: 10px;
    }
}

/* WORKED ON THE ABOVE : YARA */



.footer {
   position:relative;
   width: 100%;
   height:200px;
   background-color: #BDD3FF;
   margin-top: 2000px;
   margin-bottom: 0;
   display:flex;} /*here we put flex to become contents footer next to each other*/



.fontFooter1{padding:80px 400px 0 100px;}
.fontFooter2{padding:65px 300px 0  10px;}
.fontFooter3{padding:70px 500px 0  0;}


.fontFooter1 , .fontFooter2  , .fontFooter3{
    font-size: 13px;
    color:  #4E4D4D;
    font-family: courier;
}


 .vr {                                  /*this class to create vertical line */
  border-left: 1.5px solid #a6a6a6  ;
  height:85px;
  position:relative;
  right:150px;
  bottom: 20%;
  margin-left:-3px;
  top:35%;
}
.footer  .socialMedia-footer{

list-style:none;
   display:flex;
padding-left:13px;

}
.footer img{
padding-right:8px;
opacity:0.2;  /*to reduce img clarity*/
}

@media(max-width:1600px) and (min-width:480px){
  .fontFooter1 , .fontFooter2  , .fontFooter3  {
        font-size: 23px;}
        .vr{  right:150px;}
        .footer{   height:200px;}
        .fontFooter1{padding:80px 400px 0 100px;}
        .fontFooter2{padding:65px 300px 0  0;}
        .fontFooter3{padding:70px 500px 0  0;}


    input[type="submit"]{  height:32px;
      width:74px;  }
    input[type="email"]{  width:155px;
      height:25px;}
    }

input[type="email"]{
  border-top-left-radius: 13px;    /*line 166&167&172&173 to make rounded corners */
  border-bottom-left-radius:13px;
  width:155px;
  height:25px;
}
input[type="submit"]{
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  height:32px;
  width:74px;
  background:#B50404;
}
input[type="submit"]:hover{
  background-color:#F3F4FF;
}
/* WORKED ON THE ABOVE : RAGHAD */
